<%= form_for [refinery, :basics_admin, @basic] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @basic,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :home_logo -%>
    <%= render '/refinery/admin/image_picker',
               :f => f,
               :field => :home_logo_id,
               :image => @basic.home_logo,
               :toggle_image_display => false -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:about_title, :about_description, :about_excerpt, :about_services_title, :about_services_list],
                :object => "basics/basic" -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.basics.admin.basics.basic'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete') -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
